# Cloudflare R2配置
R2_ENDPOINT=https://pub-12fc31f50c7e427a8bf85d595cb1a92e.r2.dev
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_BUCKET_NAME=your-bucket-name

# Supabase配置
VITE_SUPABASE_URL=https://pxpgkepnqzgknebnxcbk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BPXw1Cq2u_A1TZlF1eap6g_X6JTFOeT
